body
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 35px;
    margin-left: 35px;
    font-family: sans-serif;
    font-size: smaller;
}

#Bio
{
    line-height: 5mm;
    text-align: center;
}

h4
{
  margin-top: 4px;
  margin-bottom: 4px;
}

p
{
  margin-top: 1px;
  margin-bottom: 1px;
}

ul
{
  margin-top: 3px;
}
